body {
    margin: 0 auto;
    background-color: #fbeee0;
}

#myVideo {
    width: 100%;
}

.title {
    color: #d55b3d;
    font-size: 60px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.title-h2 {
    color: #d55b3d;
    font-size: 40px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.title-section {
    color: #d55b3d;
    font-family: 'Montserrat', sans-serif;
}

.cake {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.cake-img {
    margin: 40px;
}

.cake2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.price {
    background-color: #fbeee0;
}

.wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.item {
    margin: 20px;
    width: 350px;
    height: 580px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffbdb0;
}

ul {
    background-color: #fbeee0;
    color: #7c7575;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 5px;
}

p {
    margin-top: 20px;
    color: #52616b;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

del {
    margin-right: 10px;
}

ins {
    display: inline-block;
    transform: rotate(-30deg);
    text-decoration: none;
}

footer {
    display: flex;
    justify-content: center;
}

@media all and (max-width: 800px) {
    .title {
        font-size: 50px;
    }
    .title-h2 {
        font-size: 30px;
    }
    .cake-img {
        width: 70%;
    }
}

@media all and (max-width: 500px) {
    .title {
        font-size: 30px;
    }
    .title-h2 {
        font-size: 20px;
    }
    .title-section {
        font-size: 20px;
    }
    .item img {
        width: 80%;
    }
    .item {
        height: 530px;
    }
}